@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    background: #0055d4;
    background: -webkit-linear-gradient (rgba(0, 85, 212, .8), rgba(0, 85, 212, .8)), url("../img/hero.jpg");
    background: linear-gradient(rgba(0, 85, 212, .8), rgba(0, 85, 212, .8)), url("../img/hero.jpg");
}

.separator{
    width: 400%;
    height: 250%;
    position: absolute;
    top: 85%;
    left: -180%;
    border-radius: 100%;
    background: #fff;
    z-index: 1s;
}

.circle1{
    width: 35rem;
    height: 35rem;
    position: absolute;
    top: 20%;
    left: -10%;
    border-radius: 100%;
    background: rgba(255, 255, 255, .1);
    z-index: 0;
    backdrop-filter: blur(.5rem);
}

.circle2{
    width: 20rem;
    height: 20rem;
    position: absolute;
    top: 50%;
    left: 10%;
    border-radius: 100%;
    background: rgba(255, 255, 255, .1);
    z-index: 0;
    backdrop-filter: blur(.5rem);
}

.circle3{
    width: 15rem;
    height: 15rem;
    position: absolute;
    top: 35%;
    left: 40%;
    border-radius: 100%;
    background: rgba(255, 255, 255, .1);
    z-index: 0;
    backdrop-filter: blur(.5rem);
}

header{
    width: 100%;
    height: 75px;
    position: relative;
    background: rgba(28, 31, 36, .1);
    z-index: 1000;
    backdrop-filter: blur(.5rem);

    .header-container{
        width: 80%;
        height: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo{
            width: 20%;

            img{
                width: 250px;
            }
        }

        @media only screen and (max-width: 600px){
            .logo{
                width: 20%;
    
                img{
                    width: 150px;
                }
            }
        }

        ul{
            list-style: none;
            display: flex;

            li{
                padding: 10px;

                img{
                    width: 25px;
                }
            }
        }

        @media only screen and (max-width: 600px){
            ul{
                list-style: none;
                display: flex;
    
                li{
                    padding: 7px;
    
                    img{
                        width: 19px;
                    }
                }
            }
        }

    }

    @media only screen and (min-width: 1920px){
        .header-container{
            width: 60%;
        }
    }
}

.hero{
    width: 40%;
    height: 150px;
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translate(0, -50%);

    h1{
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-size: 5.5rem;
        line-height: 100px;
        color: white;
    }

    @media only screen and (min-width: 1920px){
        h1{
            font-size: 5rem;
            line-height: 75px;
        }
    }

    @media only screen and (max-width: 1610px){
        h1{
            font-size: 4.5rem;
            line-height: 75px;
        }
    }

    @media only screen and (max-width: 1175px){
        h1{
            font-size: 3.5rem;
            line-height: 50px;
        }
    }

    @media only screen and (max-width: 560px){
        h1{
            font-size: 2.5rem;
            line-height: 50px;
        }
    }

    @media only screen and (max-width: 450px){
        h1{
            font-size: 2rem;
            line-height: 30px;
        }
    }

    p{
        font-family: 'Poppins', sans-serif;
        font-size: 1.2rem;
        padding-top: 25px;
        color: white;
    }

    @media only screen and (max-width: 450px){
        p{
            font-size: 1rem;
            line-height: 18px;
        }
    }

}

@media only screen and (min-width: 1920px){
    .hero{
        width: 40%;
        top: 50%;
    }
}

@media only screen and (max-width: 1875px){
    .hero{
        width: 25%;
        top: 40%;
    }
}

@media only screen and (max-width: 1610px){
    .hero{
        width: 50%;
        top: 40%;
    }
}

@media only screen and (max-width: 900px){
    .hero{
        width: 80%;
        top: 50%;
    }
}

@media only screen and (min-width: 1920px){
    .hero{
        left: 20%;
    }
}

footer{
    width: 30%;
    height: 20%;
    position: absolute;
    left: 10%;
    bottom: -20px;
    padding-top: 70px;

    img{
        width: 220px;
    }

    @media only screen and (max-width: 600px){
        img{
            width: 120px;
        }
    }

    .email{
        width: 100%;
        height: 35%;
        display: flex;
        align-items: center;

        img{
            width: 25px;
        }

        a{
            font-size: 1.2rem;
            padding-left: 10px;
            text-decoration: none;
            color: #1c1f24;
        }
    }

    @media only screen and (max-width: 600px){
        .email{
            width: 100%;
            height: 35%;
            display: flex;
            align-items: center;
    
            img{
                width: 20px;
            }
    
            a{
                font-size: .9rem;
                padding-left: 10px;
                text-decoration: none;
                color: #1c1f24;
            }
        }
    }
}

@media only screen and (min-width: 1920px){
    footer{
        left: 20%;
    }
}
